<% var data = {
title: "Yoga",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<%= _.template(require('./../includes/main.html'))(data) %>
<%= _.template(require('./../includes/glazing.html'))(data) %>
<%= _.template(require('./../includes/decoration.html'))(data) %>
<%= _.template(require('./../includes/works.html'))(data) %>
<%= _.template(require('./../includes/guarantees.html'))(data) %>
<%= _.template(require('./../includes/payment.html'))(data) %>
<%= _.template(require('./../includes/sale.html'))(data) %>
<%= _.template(require('./../includes/contacts.html'))(data) %>
<%= _.template(require('./../includes/feedback.html'))(data) %>
<%= _.template(require('./../includes/footer.html'))(data) %>

<%= _.template(require('./../includes/modals.html'))(data) %>

<%= _.template(require('./../includes/footer-doc.html'))(data) %>